body {font-family: Arial, Helvetica, sans-serif;}
#connexion_error
{
 color :firebrick;
}
h1 {
    text-align: center;
    position:fixed;
}
#connexion_part {
    border: 3px solid #f1f1f1;
    padding: 16px;
    width: 50%;
    position: fixed;
    transform: translate(40%);
}
.connexion_head {
    margin-bottom: 10px;
    font-size: 20px;
}
#password_input, #id_input 
{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#connexion_button
{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#connexion_part div *{
    width: 100%;
}