#side_nav_btn {
  top: 5px;
  left: 5px;
  position:absolute;
  font-size: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 4;
}

 .SideNav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    z-index: 5; /* Stay on top */
    top: 0; /* Stay at the top */
    position: fixed; /* Stay in place */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .SideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .SideNav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .SideNav .CloseButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .SideNav {padding-top: 15px;}
    .SideNav a {font-size: 18px;}
  } 

  #darken {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
}